section{
    padding: 50px;
    margin: 50px 0;
    font-family: Arial, Helvetica, sans-serif;
}
section h1{
    font-size: 85px;
    font-weight: normal;
    width: 65%;
}
section h4{
    font-size: 24px;
    color: #343434;
    font-weight: normal;
}
section p{
    font-size: 17px;
    width: 70%;
    color: #343434;
}
section p a{
    color: #343434;
    text-decoration: none;
}